<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614671608935-n8of9r2fmf0saps7f03irmhg9r5s1e7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614671608935-n8of9r2fmf0saps7f03irmhg9r5s1e7n</string>
	<key>API_KEY</key>
	<string>AIzaSyCoiJawrXssliyztVKbRPoJsfXMXXtXuOA</string>
	<key>GCM_SENDER_ID</key>
	<string>614671608935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anant.UberEats-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>swiftui-9d295</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-9d295.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614671608935:ios:5722cd6e7ff8566801f8c2</string>
</dict>
</plist>